body {
    height: 750px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }

.navbar {
    max-height: 50px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}
.navigation .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin-left: 0px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(24, 157, 143);
}
.active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: rgb(255,255,255);
}
.dropdown-item {
    color: rgb(24, 157, 143);
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgb(24, 157, 143);
}

.nav-link:hover {
    background-color:rgb(24, 157, 143);
}

.navbar-brand:hover {
    color: rgb(45, 158, 175);
}

a {
    color: rgb(231, 231, 231);
    font-size: 15px;
}

img{
    width:100%;
    height:100%;
}
.active, .panel:hover {
    border-color:rgb(24, 157, 143);
    border-style: solid;

}
.vizualization {
    width:50%;
    height:50%;
}

.title {
    color: rgb(24, 157, 143);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}

p {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
    color: #ffffff;
    background-color: rgb(255, 255, 255);

}

.table {
    font-size: 15px;
    border-top-color: rgb(255, 255, 255);
}

footer {
    background-color: hsl(54, 82%, 48%);
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(87, 37, 76);
    color: rgb(0, 10, 10);
    min-height: 50px;
    font-family: Menlo, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
}

@media(max-width: 992px) {
    .navbar-expand-lg {
    background-color: #000000;
    }
    .navbar {
        max-height: none;
        padding: inherit;
    }
    .navbar div {
        margin: inherit;
        background-color: rgb(255,255,255);
    }
    .navbar-brand {
        padding: 10px;
    }
    button{
        margin-right: 30px;
    }
    button:focus {
        outline: 1px dotted;
        outline: auto 5px;
    }
}